body {
    margin: 0; /* Retire les marges par défaut */
    padding: 0;
    height: 150vh; /* Hauteur égale à celle de la fenêtre */
    width: 100vw; /* Largeur égale à celle de la fenêtre */
    background-image: url("background.PNG") ; /* Remplacez par le chemin de votre image */
    background-size: cover; /* L'image occupe 100% en largeur et hauteur */
    background-position: top left; /* Place l'image en haut à gauche */
    background-repeat: no-repeat; /* Évite la répétition */
}

.header {
    background: rgba(35, 31, 32, 0.5);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000; /* header reste au-dessus du contenu */
}

.header img{
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header .titre{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #083c81;
    white-space: nowrap; 
    
}
.header .titre a{
    text-decoration: none;
}
.header .titre p{
    color:white;
}

.header nav {
    width: 100%;
    text-align: center;
    margin-left: 200px;
}

.header nav ul {
    list-style: none; /* Retire les puces de la liste */
    display: flex; /* Aligne les éléments horizontalement */
    justify-content: space-around; /* Espace autour des éléments */
    padding: 0;
    margin: 0;
}

.header nav ul li a {
    text-decoration: none; /* Retire le soulignement des liens */
    color: #97c1f7; /* Changez la couleur selon vos préférences */
    padding: 10px 15px;
    font-size: 16px;
}

.header nav ul li a:hover {
    color: #ffffff; /* Couleur de survol */
    font-size: 19px;
}
main {
    flex: 1; /* Occuper l'espace entre header et footer */
    background: url('image.jpg') no-repeat center center; /* Image de fond */
    background-size: cover; /* Couvrir toute la section */
    display: flex;
    align-items: center; /* Centrage vertical */
    justify-content: flex-start; /* Contenu aligné à gauche */
    padding-left: 5%; /* Décalage depuis le bord gauche */
    color: white; /* Texte blanc sur l'image */
}

/* Conteneur de contenu */
.welcome-container {
    text-align: left; /* Alignement du texte et bouton à gauche */
   /* background: rgba(0, 0, 0, 0.6); *//* Fond semi-transparent pour améliorer la lisibilité */
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

/* Titre Bienvenue */
.welcome-container h1 {
    margin-top: 125px;
    font-size: 2.5em;
    margin-bottom: 125px;
    color: #b7fcff;
    margin-left: 50px;
    font-style: Arial black ;
}
.welcome-container ul{
    font-size: Georgia ;
}
.photos {
    max-width: 30000px; /* Taille maximale de l'image */
    border-radius: 50%; /* Arrondir l'image (optionnel) */
    -ms-ime-align: left;
}


<<<<<<< HEAD
.btn-submit {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #6d1616; /* Bleu */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    margin-left: 130px;
    margin-bottom: 110px;
}

.btn-submit:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
}

=======
    body {
        background: linear-gradient(to right, #fff7ad, #ffa9f9);

    padding-top: 80px; /* Ajustez selon la hauteur du header */
    }
>>>>>>> a0bee6493c5edf4b23ff122b75706cf7339591e4
  footer{
    background: rgba(35, 31, 32, 0.5);
        padding-top: 50px;
        
        }

    .footer-container{
        width: 1160px;
        margin: auto;
        display: flex;
        justify-content: center;
        height: 144px;
        width: 100%;
        
    }
    
    .footer-container p{
        width:200px;
        margin: auto;
        padding: 7px;
        justify-content: left;
        margin: 0;
        font-size: 14px;
        height: 55px;
        color: #c2c2c2;
    }
    .footer-section-info{
        width: 11140px;
        margin: auto;
        display: flex;
        justify-content: center;
        
    }
    .footer-links{
        margin-right: 60px;
        width: 2500px;
    }
    .footer-links a{
        color:#c2c2c2 ;
    }
    
    
    .footer-bottom{
        background: #960000;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .footer-bottom p{
        color: #343434;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }
    .footer-container h3{
        color: aliceblue;
    
    }
   
    /* Cookie Popup Styles */
.cookie-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cookie-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 5000px;
    width: 90%;
}

.cookie-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #960000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.cookie-buttons button:hover {
    background-color: #0056b3;
}
  
 
.index{
    background: linear-gradient(to right, #fff7ad, #ffa9f9);

}